@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  /* box-sizing: border-box; */
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../Images/backimage.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log {
  font-size: 1.5rem;
  /* height: 20rem; */
  width: 90%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* border-radius: 8px; */
}

.logClass {
  padding: 8px;
  color: red;
  cursor: pointer;
}

.hh2 {
  text-align: center;
  padding: 10px;
}
#username {
  padding: 8px 21px;
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 8px;
  width: 17rem;
  margin: 10px;
}
#password {
  padding: 8px 21px;
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 8px;
  width: 17rem;
  margin: 10px;
}
#logId {
  height: 2rem;
  width: 12%;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  background-color: black;
  border-style: none;
}

.para {
  color: white;
}
a {
  text-decoration: none;
  color: red;
}
